# Stuff from various editors/tools
*.sublime-workspace
.idea
.phpintel
.tags
.tags_sorted_by_file

# Installed packages
vendor/
node_modules

# Cached data
cache/

# Other files
the.todo
config/config.toml