# See https://github.com/h5bp/html5-boilerplate/blob/master/dist/.htaccess
Options -MultiViews +FollowSymLinks -Indexes
AddDefaultCharset utf-8
Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1; mode=block"

# Use a whitelist to protect access to sensitive files.
RewriteEngine On
RewriteRule ^(.*)\.hash-.*?\.(.*)$ /$1.$2
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule !^(index\.php|details\.php|form\.php|submit\.php|styles\.css|client\.js|lib\/.*|img\/.*|view\.php|immutable\/.*)$ - [F,NC]

# Make sure stale content is NEVER served
FileETag All
Header set Cache-Control "private, max-age=0, no-cache, must-revalidate, no-transform"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
