# See https://github.com/h5bp/html5-boilerplate/blob/master/dist/.htaccess
# and https://gist.github.com/chriso/874000

Options -MultiViews +FollowSymLinks -Indexes
AddDefaultCharset utf-8
Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1; mode=block"

# Use a whitelist to protect access to sensitive files.
RewriteEngine On
RewriteRule ^(.*)\.hash-.*?\.(.*)$ /$1.$2 [PT]
RewriteRule !^(styles\.css|client\.js|lib\/.*|img\/.*|daux\/.*|docs\/.*)$ /index.php [END]

# RewriteRule !^(index\.php|details\.php|form\.php|submit\.php|styles\.css|client\.js|lib\/.*|img\/.*|view\.php)$ - [F,NC]

# Caching

FileETag All

Header merge Cache-Control "no-transform"
Header merge Cache-Control "private"

ExpiresActive on
ExpiresDefault "access plus 0 seconds"

# We use cachebusting URLs for this anyway...
ExpiresByType text/css "access plus 1 year"
ExpiresByType application/javascript                "access plus 1 year"
ExpiresByType application/x-javascript              "access plus 1 year"
ExpiresByType text/javascript                       "access plus 1 year"