
/*For chrome*/
html, body { height:auto; }
body { overflow-x: auto; }
/*End for chrome*/

/*For IE: -ms- prefixed properties among stuff below; nothing besides thse,
    For Safari, -webkit- */

.ui.container.table-page { width: 1200px !important; max-width:none !important; }

.ui.form .success.message, .ui.form .warning.message, .ui.form .error.message:not(.validation-error-message) { display:block; }

/* Fix table borders */
.ui.table tr:first-child td { border-top: 1px solid rgba(34, 36, 38, 0.1); }
.ui.table tr:first-child > td { border-top: medium none; }

/* Darker background*/
body { background: #F7F7F7; }

.ui.container { margin:20px auto; }
.table-view { table-layout: fixed; }
pre { margin:0; }

/* Fix margins within show-if */
.ui.form div[data-show-if-name] > .field:last-child { margin: 0em 0em 1em; }
div[data-show-if-name] > .ui.header:last-child { margin: 0 0 1rem; }

div[data-show-if-name] > .ui.form .field:last-child,
div[data-show-if-name] > .ui.form .fields:last-child .field {
    margin: 0 0 1em;
}

.ui.top.fixed.menu + .ui.container { margin-top:60px; }



/* Reduce padding around file inputs*/
.ui.form input[type=file] { padding-top: 5px !important; padding-bottom: 5px !important; }

.ui.compact.table th { padding-top: 0.5em; padding-bottom: 0.5em; }
input[type=range] { width: 150px; vertical-align: -5px; }

/* See http://stackoverflow.com/questions/18794026/ */
input[type=range]::-moz-focus-outer { border:0 !important; }

.submit-count-label { margin-top: 3px !important; }
.submit-count-label .detail { margin-left: 0.55em !important; }

.ui.sortable.table thead th { cursor:auto; }
.ui.header { margin-top: 0; }
.ui.checkbox + .ui.red.label.visible { float:left; margin-right: 1000px;}
.ui.form .required > label:after,
.ui.form .required  .ui.checkbox:after { font-size: 1.5rem; top: 5px; right:-10px; left: auto;}
.ui.top.attached.header { margin-top:0 !important; }
.ui.icon.message { -ms-flex-align: start; }
.ui.icon.message > .icon:not(.close) { align-self: flex-start; -webkit-align-self:flex-start; }
.ui.header.attached > .icon { vertical-align: top; }

.red.prompt { display: table; white-space: normal !important; }

/* Utility classes */
.nowrap { white-space:nowrap;}
.no-margin { margin:0 !important;}
.pull-right { float:right;}
.low-line-height { line-height: 1 !important; }

/* Simpler styling for groups */
.group > :first-child.attached {
    margin-top: 0px !important;
    margin-bottom: 0em !important;
    border-bottom: medium none !important;
    border-radius: 0.3125rem 0.3125rem 0em 0em !important;
    border-top: 1px solid #D4D4D5 !important;
}
.group > :last-child.attached {
	margin-bottom: 1em  !important;
    top: 0px  !important;
    bottom: 0px !important;
    margin-top: 0em !important;
    border-radius: 0em 0em 0.2857rem 0.2857rem !important;
    border-bottom: 1px solid #D4D4D5 !important;
}
.group > :first-child:last-child.attached {
    border-radius: 0.3125rem 0.3125rem 0.2857rem 0.2857rem !important;
}

.close-item {
    display: -ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.close-item > .content { -ms-flex: 1; -webkit-flex:1; flex: 1; margin-right: 15px; }
.close-item > button { margin-top:5px !important; }
.list-component > .segment { padding: 0 15px; }

/* Improve contrast within tables */
.ui.table tr.negative td, .ui.table tr td.negative { background-color: #FFE7E7 !important; }
.ui.table tr.positive td, .ui.table tr td.positive { background-color: #F7FFE6 !important; }

.table-view li { padding: 0 !important; }

/* Remove hover effect*/
.ui.sortable.table thead th:hover { background: #F9FAFB; }

.unpadded-cell { padding:0 !important; }
.unpadded-cell > .ui.icon.button { padding-top:10px !important; padding-bottom:10px !important; }
.unpadded-cell > .ui.icon.button > .icon { border-radius: 0 !important; }

.ui.text.menu .item { color:#000 !important; }
.pagenumber { flex: 1 !important; text-align: center !important; display:block !important; }

.sublabel {  color: rgba(40, 40, 40, 0.7);  margin:-6px 0 6px 0; font-family: Verdana; font-weight: normal; font-size: 82%; }

/* iOS: stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone */
.ios select,
.ios textarea,
.ios input[type="text"],
.ios input[type="password"],
.ios input[type="datetime"],
.ios input[type="datetime-local"],
.ios input[type="date"],
.ios input[type="month"],
.ios input[type="time"],
.ios input[type="week"],
.ios input[type="number"],
.ios input[type="email"],
.ios input[type="url"],
.ios input[type="search"],
.ios input[type="tel"],
.ios input[type="color"] {
    font-size: 16px !important;
}


.ios .ui.top.fixed.menu {
    position: absolute !important;
}

.ios .close-item {
    position:relative;
    display:block;
}
.ios .close-item > .content {
    margin-right:0;
}
.ios .close-item > .delete-btn {
    position:absolute;
    top:0;
    right:-15px;
    margin:0 !important;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-right-radius:0;
}
/* -- end iOS */