
/* Darker background*/
body { background: #F7F7F7; }

.ui.container { margin:20px auto; }
.table-view { table-layout: fixed; }
pre { margin:0; }
.ui.form div[data-show-if] > .field:last-child { margin: 0em 0em 1em; }
div[data-show-if] > .ui.header:last-child { margin: calc(2rem - 0.14285em) 0em 1rem; }

/* Reduce padding around file inputs*/
.ui.form input[type=file] { padding-top: 5px !important; padding-bottom: 5px !important; }

.ui.compact.table th { padding: 0.5em 0.7em; }

input[type=range] { width: 150px; vertical-align: -5px; }

/*http://stackoverflow.com/questions/18794026/remove-dotted-outline-from-range-input-element-in-firefox*/
input[type=range]::-moz-focus-outer { border:0 !important; }


.ui.sortable.table thead th { cursor:auto; }
.ui.header { margin-top: 0; }
.pagination { text-align: center; line-height:37px; }
.ui.checkbox + .ui.red.label.visible { float:left; margin-right: 1000px;}
.ui.form .required > label:after,
.ui.form .required  .ui.checkbox:after { font-size: 1.5rem; top: 5px; right:-10px; left: auto;}
.centered-button { margin: 0 auto !important; display: block !important; }
.ui.top.attached.header { margin-top:0 !important; }
.ui.icon.message > .icon:not(.close) { align-self: flex-start; }
.ui.header.attached > .icon { vertical-align: top; }
.red.prompt { display: table; }

.group > :first-child.attached {
	margin-top: 0px !important;
    margin-bottom: 0em !important;
    border-bottom: medium none !important;
    border-radius: 0.3125rem 0.3125rem 0em 0em !important;
    border-top: 1px solid #D4D4D5 !important;
}

.group > :last-child.attached {
	margin-bottom: 1em  !important;
    top: 0px  !important;
    bottom: 0px !important;
    margin-top: 0em !important;
    border-radius: 0em 0em 0.2857rem 0.2857rem !important;
    border-bottom: 1px solid #D4D4D5 !important;
}


/* Only child */
.group > :first-child:last-child.attached { border-radius: 0.3125rem 0.3125rem 0.2857rem 0.2857rem !important; }

.close-item { display:flex; align-items: flex-start; }
.close-item > .content { flex: 1; margin-right: 15px; }
.close-item > button { margin-top:5px !important; }
.list-component > .segment { padding: 0 15px; }

.ui.celled.table tr.negative td, .ui.celled.table tr td.negative {
    background: #FFE7E7 none repeat scroll 0% 0% !important;
    color: #943634 !important;
}

.ui.celled.table tr.positive td, .ui.celled.table tr td.positive {
    background: #F7FFE6 none repeat scroll 0% 0% !important;
    color: #275B28 !important;
}

.table-view li {
    padding: 0 !important;
}

.ui.sortable.table thead th:hover {
    background: #F9FAFB;
}

.unpadded-cell { padding:0 !important; }
.unpadded-cell > .ui.icon.button { padding-top:10px !important; padding-bottom:10px !important; }
.unpadded-cell > .ui.icon.button > .icon { border-radius: 0 !important; }

.ui.text.menu .item { color:#000 !important; }
.pagenumber { flex: 1 !important; text-align: center !important; display:block !important; }