form(title='Event Dates')
  fields
    list#dates(label='Event dates', add-text='Add a date')
      datetime#date(label='Date of event', required=true)
  views
    table-view#table(title='Main view')
      col#dates(header='Dates', width=1)
      col#_ip(header='IP Address', width=1)
      col#_timestamp(header='Timestamp', width=1)
  outputs
    mongo(collection='event_dates')
