form(title='Favorite Colors')
  fields
    header(icon='paint brush') Favorite colors
    checkboxes(label='What are your favorite colors?', name='favorite-colors', min-choices='2', max-choices='4')
      option Red
      option Orange
      option Yellow
      option Green
      option Blue
      option Indigo
      option Violet
    group
      checkbox(label='I dislike the color red', name='dislike-red')
    textarea(label='Why are these your favorites? (Optional)', name='explanation')
    notice(text='Results will be delivered via email and stored in MongoDB.', type='info')
  outputs
  	mongo(collection='favorite_colors')
    email-to(to='perljason@gmail.com', from='Form Builder <perljason@gmail.com>', subject='Favorite colors')
  views
  	graph-view(name='graphs', title='Graph')
  	  bar(name='favorite-colors', label='Favorite colors')
  	  pie(name='dislike-red', label='Dislike the color red')