form(title='Password Protected')
  fields
    notice(header='Password protected', type='negative', icon='warning sign', text='')
      li The password is stored in the configuration file, but it has been hashed with PHP's password_hash function.
      li Therefore, it can be considered secure.
      li Please don't store passwords in plaintext.
    password(label='Password', name='password', match-hash='$2y$10$XvkdXjN.wiP/64yGjRIjzeEx1UyMd4.omrZlSVaQkEBDKKjM/9Fgm', sublabel='Hint: the password is "opensesame"')
    checkbox(label='I agree to the terms and conditions', must-check=true, name='agree_to_terms')
    notice(header='A note of caution', type='warning', text='Putting passwords inside a "show-if" block can result in unexpected behavior.')
    captcha
  views
  outputs