form(title='Example Form v2', success-message='Lorem ipsum!')
  fields
    textbox(name='test', label='Hello world')
  outputs
    s3(bucket='form-builder-uploads')
    mongo(server='mongodb://localhost:27017', database='forms', collection='example_form_2')
    email-to(to='perljason@gmail.com', from='Form Builder <perljason@gmail.com>', subject = 'Test2')
  views
    table-view(name='table1', title='Main view', per-page=10)
      col(name='test', header='Test', width=1)